@model IEnumerable<MovieTicketBookingApp.Models.TheaterModel>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Movie">Movies</a></li>
        <li class="breadcrumb-item"><a href="/Movie/Details/@(ViewContext.RouteData.Values["id"])">Movie Details</a></li>
        <li class="breadcrumb-item active" aria-current="page">Theater</li>
    </ol>
</nav>

<h1 class="text-center"> Select the theater </h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
                    
            </td>
            <td>
                <a class="btn btn-primary" href="/Movie/ViewScreens?TheaterId=@item.TheaterId&MovieId=4">View shows</a>
               @* <a asp-action="Edit" asp-route-id="@item.TheaterId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TheaterId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TheaterId">Delete</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
