@model IEnumerable<MovieTicketBookingApp.Models.MovieModel>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" type="text/css" href="/css/movies/MovieList.css">

<h1 class="text-center">Movies</h1>

@if (this.User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Create New</a>
    </p>
}



<div class="row">
    @foreach (var item in Model) {
        <div class="col-xs-12 col-md-4 col-lg-4 my-3 ">
                <div class="card shadow-sm zoom" >
          
              <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.title)</h5>
                <div class="smalldesc" id="@item.movieId">
                    <p class="card-text">@Html.DisplayFor(modelItem => item.description)</p>
                </div>
                <span class="text-primary text-decoration-none" onClick="expandDescription(this,@item.movieId)">Show more...</span>

            

              </div>
              <div class="card-footer">
                  @if (! this.User.IsInRole("Admin"))
                {
              
                        <a asp-action="Details" asp-route-id="@item.movieId" class="btn btn-primary">Book Tickets</a> 
                
                }
           
               
                @if (this.User.IsInRole("Admin"))
                {
              
                         <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.movieId">Edit</a>

                
                         <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.movieId">Delete</a>

                
                }
            </div>
            </div>
        </div>
       
    }
</div>

<script src="/js/movies/MovieList.js"></script>
