@model IEnumerable<MovieTicketBookingApp.Models.MovieModel>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-center">Movies</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                
                    <a asp-action="Details" asp-route-id="@item.movieId" class="btn btn-primary">Book Tickets</a> 
                   @* <a asp-action="Edit" asp-route-id="@item.movieId">View Theaters</a> |*@
               
                </td>
            <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.movieId">Edit</a>

            </td>
            <td>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.movieId">Delete</a>

            </td>
        </tr>
}
    </tbody>
</table>
